:root {
  --background-color: rgb(222, 222, 222);
  --accent-color: red;
  --accent-color-two: rgb(0, 132, 0);
}

* {
  box-sizing: border-box;
}

.green {
  color: var(--accent-color-two);
}

.red {
  color: var(--accent-color);
}

body {
  min-width: 350px;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem 0.5rem;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

.subj-input,
.subj-grade {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}

.subj-label {
  --accent-color: gray;

  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--accent-color);
}

.subj-label:focus-within {
  --accent-color: revert;
}

#form {
  max-width: 600px;
  margin: auto;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 20px;
  user-select: none;
}

#tap-body,
#calc-btn,
.a-btn {
  -webkit-tap-highlight-color: transparent;
}

#tap-body {
  cursor: pointer;
  padding: 0.5rem;
  color: var(--accent-color-two);
}

.list {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-end;
}

.calc-btn {
  display: block;
  margin: 3rem auto 1rem;
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-size: inherit;
  border-color: var(--accent-color-two);
  border-radius: 25px;
}

.a-btn,
.calc-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

#result {
  max-width: 100%;
  font-size: .9rem;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: .5rem;
  margin-bottom: .5rem ;
  cursor: pointer;
  overflow: hidden;
}

#app-body {
  display: grid;
  gap: 1rem;
}